{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center>
        {% if viewer %}
        <h1>Hello, {{ viewer }}</h1>
        <h4>You will receive an email shortly.</h4>
        <img src="{% static 'img/Screenshot from 2021-08-28 08-29-00.png' %}" width="200" alt="">
        {% else %}
        <form action="">
            <input type="email" name="viewer" required>
            <input type="submit" value="Send">
        </form>
        {% endif %}
    </center>
</body>
</html>